Etf 拯救世界

网格策略

In [1]:
import akshare as ak

In [4]:
import datetime

In [2]:


# 沪深300 6%
# fund_codes = '110020'

# 上证50
fund_codes = '110003'

In [3]:
fund_history = ak.fund_em_open_fund_info(fund_codes)
print(fund_history)

               x       y equityReturn unitMoney
0     2004-03-22  1.0000            0
1     2004-04-30  0.9673        -3.27
2     2004-05-10  0.9541      -1.3646
3     2004-05-11  0.9564       0.2411
4     2004-05-12  0.9668       1.0874
...          ...     ...          ...       ...
4051  2020-11-30  2.3605        -0.84
4052  2020-12-01  2.4147          2.3
4053  2020-12-02  2.4136        -0.05
4054  2020-12-03  2.4155         0.08
4055  2020-12-04  2.4335         0.75

[4056 rows x 4 columns]

In [5]:
fund_history[fund_history.x == datetime.date(2010, 1, 4)]

               x       y equityReturn unitMoney
1391  2010-01-04  0.9235      -1.4408